### [Q1.] What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use?

##### [Ans]
MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

NON REALTIONAL DATABASE :- A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Non-relational databases are often used when large quantities of complex and diverse data need to be organized.

### [Q2.] State and Explain the features of MongoDB.

##### [Ans]
In MongoDB, you can search by field, range query and it also supports regular expression searches. You can index any field in a document. MongoDB supports Master Slave replication. MongoDB can run over multiple servers.

### [Q3.] Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

##### [Ans]

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Rahul:rahul@cluster0.pa1np6l.mongodb.net/?retryWrites=true&w=majority")
dc = client.test

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 603.6/603.6 kB 36.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
dc

Database(MongoClient(host=['ac-8f6wq4i-shard-00-00.pa1np6l.mongodb.net:27017', 'ac-8f6wq4i-shard-00-02.pa1np6l.mongodb.net:27017', 'ac-8f6wq4i-shard-00-01.pa1np6l.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-lympvo-shard-0', tls=True), 'test')

In [3]:
client = pymongo.MongoClient("mongodb+srv://Rahul:rahul@cluster0.pa1np6l.mongodb.net/?retryWrites=true&w=majority")

In [4]:
dc = client ['ASSIGNMENT-13']

In [5]:
data = {"NAME" : "RAHUL",
       "COURSE_NAME" : "DATA SCIENCE",
       "COURSE_PRICE" : 3500,
       "MAIL_ID" : "RAHUL@GMAIL.COM"}

In [6]:
coll_rahul = dc['my_records2']

In [7]:
coll_rahul.insert_one(data)

### [Q4.] Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

##### [Ans]

In [8]:
data1 = {"NAME" : "ROHAN",
        "COURSE_NAME" : "WEB DEV",
        "COURSE_PRICE" : 4000,
        "MAIL_ID" : "ROHAN@GMAIL.COM"}

In [9]:
coll_rahul = dc['my_records2']

In [10]:
coll_rahul.insert_one(data1)

In [11]:
data2 = [
    {"NAME" : "RAM" , "COURSE_NAME" : "JAVA" , "COURSE_PRICE" : 3000 , "MAIL_ID" : "RAM@GMAIL.COM"},
    {"NAME" : "JOHN" , "COURSE_NAME" : "JAVA" , "COURSE_PRICE" : 3000 , "MAIL_ID" : "JOHN@GMAIL.COM"},
    {"NAME" : "GURU" , "COURSE_NAME" : "DATA SCIENCE" , "COURSE_PRICE" : 3500 , "MAIL_ID" : "GURU@GMAIL.COM"},
    {"NAME" : "APRIL" , "COURSE_NAME" : "DATA SCIENCE" , "COURSE_PRICE" : 3500 , "MAIL_ID" : "APRIL@GMAIL.COM"},
    {"NAME" : "RONNY" , "COURSE_NAME" : "WEB DEV" , "COURSE_PRICE" : 4000 , "MAIL_ID" : "RONNY@GMAIL.COM"},
    {"NAME" : "NATASHA" , "COURSE_NAME" : "WEB DEV" , "COURSE_PRICE" : 4000 , "MAIL_ID" : "NATASHA@GMAIL.COM"}
]

In [12]:
coll_rahul.insert_many(data2)

In [13]:
for i in coll_rahul.find():
    print(i)

{'_id': ObjectId('64b2573e9aa9bc27166b3cbe'), 'NAME': 'RAHUL', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'RAHUL@GMAIL.COM'}
{'_id': ObjectId('64b2588d9aa9bc27166b3cbf'), 'NAME': 'ROHAN', 'COURSE_NAME': 'WEB DEV', 'COURSE_PRICE': 4000, 'MAIL_ID': 'ROHAN@GMAIL.COM'}
{'_id': ObjectId('64b25a789aa9bc27166b3cc0'), 'NAME': 'RAM', 'COURSE_NAME': 'JAVA', 'COURSE_PRICE': 3000, 'MAIL_ID': 'RAM@GMAIL.COM'}
{'_id': ObjectId('64b25a789aa9bc27166b3cc1'), 'NAME': 'JOHN', 'COURSE_NAME': 'JAVA', 'COURSE_PRICE': 3000, 'MAIL_ID': 'JOHN@GMAIL.COM'}
{'_id': ObjectId('64b25a789aa9bc27166b3cc2'), 'NAME': 'GURU', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'GURU@GMAIL.COM'}
{'_id': ObjectId('64b25a789aa9bc27166b3cc3'), 'NAME': 'APRIL', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'APRIL@GMAIL.COM'}
{'_id': ObjectId('64b25a789aa9bc27166b3cc4'), 'NAME': 'RONNY', 'COURSE_NAME': 'WEB DEV', 'COURSE_PRICE': 4000, 'MAIL_ID': 'RONNY@GMAIL.COM'}
{'_id': ObjectId('64b25a789aa9bc27166b3cc5'), 'NAME': 'NATASHA', 'COURSE_NAME': 'WEB DEV', 'COURSE_PRICE': 4000, 'MAIL_ID': 'NATASHA@GMAIL.COM'}

In [14]:
coll_rahul.find_one(data1)

{'_id': ObjectId('64b2588d9aa9bc27166b3cbf'),
 'NAME': 'ROHAN',
 'COURSE_NAME': 'WEB DEV',
 'COURSE_PRICE': 4000,
 'MAIL_ID': 'ROHAN@GMAIL.COM'}

### [Q5.] Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

##### [Ans]

In [16]:
for i in coll_rahul.find({"NAME" : "RAHUL"}):
    print(i)

{'_id': ObjectId('64b2573e9aa9bc27166b3cbe'), 'NAME': 'RAHUL', 'COURSE_NAME': 'DATA SCIENCE', 'COURSE_PRICE': 3500, 'MAIL_ID': 'RAHUL@GMAIL.COM'}

### [Q6.] Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [25]:
client = pymongo.MongoClient("mongodb+srv://Rahul:rahul@cluster0.pa1np6l.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [26]:
db = client["mydatabase"]
coll_rahul = db["students"]

In [27]:
coll_rahul.insert_many([
    {"ID" : 1, "NAME" : "ALICE", "AGE" : 20},
    {"ID" : 2, "NAME" : "BOB", "AGE" : 25},
    {"ID" : 3, "NAME" : "CHARLIE", "AGE" : 22}
])

In [28]:
ascending_result = coll_rahul.find().sort("AGE",1)
print("ASCENDING ORDER :")
for doc in ascending_result:
    print(doc)

ASCENDING ORDER :
{'_id': ObjectId('64b26e939aa9bc27166b3cc7'), 'ID': 1, 'NAME': 'ALICE', 'AGE': 20}
{'_id': ObjectId('64b26e939aa9bc27166b3cc9'), 'ID': 3, 'NAME': 'CHARLIE', 'AGE': 22}
{'_id': ObjectId('64b26e939aa9bc27166b3cc8'), 'ID': 2, 'NAME': 'BOB', 'AGE': 25}

In [ ]:
descending_result = coll_rahul.finnd().sort("AGE",-1)
print("

### [Q7.] Explain why delete_one(), delete_many(), and drop() is used.

##### [Ans]
DELETE_ONE() :- It is used to delete one document that match a specified filter. It deletes the first document that matches the filter.

DELETE_MANY() :- It is used to delete many documents that match the filter.

DROP() :- It is used to delete an entire collection from a database. This method is useful when you want to completely remove a collection and all of its data from your database.