### [Q1.] What is a database? Differentiate between SQL and NoSQL databases.

##### [Ans]
A database is an organized collection of data that can be easily accessed, managed, and updated. It is used to store and manage information in an efficient and secure way.

SQL databases are relational databases that store data in tables with predefined schema, while NOSQL databases are non-relational databases that store data in flexible, unstructed documents.

### [Q2.] What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

##### [Ans]
DDL stands for Data Defination Language. It is a set of SQL commands used to define and manage the database structure and schema. It includes commands to create, alter, and drop tables and other database objects.

CREATE :- CREATE is used to create a new database object, such as a table. For example, you use the CREATE TABLE command to create a new table named "users" with columns to the "users" table for age.

DROP :- It is used to delete an existing database object, such as a table. For example, you can use the DROP TABLE command to delete the "users" table.

TRUNCATE :- It is used to delete all the data from an existing table. For example, you can use TRUNCATE TABLE command to delete all the rows from the "users" table, but keep the table structure intact.

### [Q3.] What is DML? Explain INSERT, UPDATE, and DELETE with an example.

##### [Ans]
DML stands for Data Manipulation Language. It is a set of SQL commands used to manipulate and query the data stored in a database. It includes commands to insert, update, delete, and select data from tables.

INSERT :- It is used to add a new rows of data to an existing table. For example, you can use the INSERT INFO command to add a new user to the "users" table with the name "John", email "john@gmail.com", and password "123345"

UPDATE :- It is used to modify existing data in a table. For example, you can use the UPDATE command to chamge the email address of the user with the ID of 1 in the "users" table to "newemail@example.com".

DELETE :- It is used to remove data from a table. For example, you can use the DELETE FROM command to remove all the users from the "users" table who have not logged in for more than 6 months.

### [Q4.] What is DQL? Explain SELECT with an example.

##### [Ans]
DQL stands for Data Query Language. It is a set of SQL commands used to retrive data from a database.

SELECT :- The most commonly used DQL command is SELECT, which is used to retrive data from one or more tables based on specific criteria. For example, you can use the SELECT command to retrive the names and emails addresses of all the users from the "users" table who have signed up in the last 30 days.

### [Q5.] Explain Primary Key and Foreign Key.

##### [Ans]
PRIMARY KEY :- A primary key is a set of columns in a table that uniquely identifies each row of data in that table. It is used to enforce the integrity of the data by preventing duplicate or null values from being inserted into the table.

FOREIGN KEY :- A foreign key is a set of columns in a table that refers to the primary key of another table,. It is used to create a relationship between two tables, allowing data to be linked and quried across multiples tables.

### [Q6.] Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

##### [Ans]

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test3")
mydb.close()

CURSOR METHOD :- It is used to establish a cursor object in Python that allows you to interact with a database.

EXE

### [Q7.] Give the order of execution of SQL clauses in an SQL query.

##### [Ans]
The order of execution of SQL clauses in a SQL query is as follows:

[1.] FROM clause :- This clause specifies the tables from which the data is to be retrived.

[2.] WHERE clause :- This clause filters the data based on specific conditions.

[3.] GROUP BY clause :- This clause filters the data based on specific columns.

[4.] HAVING clause :- This clause filters the grouped data based on specific.

[5.] SELECT clause :- This clause selects the columns to be included in the result set.

[6.] ORDER clause :- This clause sorts the result set based on specific columns.

[7.] LIMIT clause :- This clause limits the number of rows returned by the query.