### [Q1.] Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
a = 'rahul'

In [2]:
type(a)

str

In [4]:
l = [1,2,3,'rahul','pwskills',2.32,True]

In [5]:
type (l)

list

In [6]:
b = 23.3256987

In [7]:
type (b)

float

In [8]:
c = (1,2,3,'peskills')

In [9]:
type(c)

tuple

### [Q2.] Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

### What will be the data type of the above given variable.

In [10]:
var1 = ''

In [11]:
type(var1)

str

In [12]:
var2 = '[DS,ML,Pyhton]'

In [13]:
type(var2)

str

In [14]:
var3 = [ 'DS' , 'ML' , 'Pyhton']

In [15]:
type(var3)

list

In [16]:
var4 = 1.

In [17]:
type(var4)

float

### [Q3.] Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [18]:
10 / 3

3.3333333333333335

In [19]:
5 % 2

1

In [20]:
20//5

4

In [21]:
2**6

64

### [Q4.] Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [23]:
l = [1,2,3,4,'rahul','pwskills',True,False,53.63,()]
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'float'>
<class 'tuple'>

### [Q5.] Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [24]:
A = int(input("enter the value of A:"))
B = int(input("enter the value of B:"))
count = 0
while A%B==0:
    count +=1
    A=A/B
    
if count > 0:
    print ("number A is purely divisible by B ",count,"times.")
else :
    print ("number A is not purely divisible by B.")

enter the value of A: 6
enter the value of B: 3

number A is purely divisible by B  1 times.

### [Q6.] Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [27]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l :
    if i%3==0 :
        print(i ,'- it is divisible by 3')
    else :
        print(i ,'- not divisible by 3')

1 - not divisible by 3
2 - not divisible by 3
3 - it is divisible by 3
4 - not divisible by 3
5 - not divisible by 3
6 - it is divisible by 3
7 - not divisible by 3
8 - not divisible by 3
9 - it is divisible by 3
10 - not divisible by 3
11 - not divisible by 3
12 - it is divisible by 3
13 - not divisible by 3
14 - not divisible by 3
15 - it is divisible by 3
16 - not divisible by 3
17 - not divisible by 3
18 - it is divisible by 3
19 - not divisible by 3
20 - not divisible by 3
21 - it is divisible by 3
22 - not divisible by 3
23 - not divisible by 3
24 - it is divisible by 3
25 - not divisible by 3

### [Q7.] What do you understand about mutable and immutable data types? Give examples for both showing this property.

MUTABLE :- A mutable object can be changed after it is created.

In [32]:
m = [1,2,3,4,'RAHUL',True] # it is mutable data type

In [34]:
m[3] = 6 #value changed

In [35]:
m

[1, 2, 3, 6, 'RAHUL', True]

IMMUTABLE :- An immutable object cannot be changed after it is created.